<!-- image section -->
<div class="class container-fluid">
  <div class="class row">
    <div class="clsss col-sm-5">
      <div class="class image">
        <img src="../../../assets/svg/list_image.svg" class="img-fluid">
      </div>
    </div>
    <!-- form section -->
    <div class="class col-md-6">
      <div class="class card">
        <h5>Preencha os campos do formulário:</h5>
        <div class="class row">
          <form>
            <!--Nome do Item-->
            <div class="form-group mb-1">
              <label for="exampleFormControlInput1">Nome do Item</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nome do Item">
            </div>

            <!--Unidade de Medida-->
            <div class="form-group mb-1">
              <label for="exampleFormControlSelect1">Unidade de Medida</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Litros</option>
                <option>Quilogramas</option>
                <option>Unidade</option>
              </select>
            </div>

            <!--Quantidade-->
            <div class="form-group">
              <label for="exampleFormControlInput1">Quantidade</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
            </div>

            <!--Preço-->
            <div class="form-group">
              <label for="exampleFormControlInput1">Preço</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="R$ 00,00">
            </div>

            <!--Produto Perecível-->
            <div class="form-group mb-1">
              <label for="exampleFormControlInput1">Produto Perecível</label>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Sim
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Não
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>