<!-- image section -->
<div class="class container-fluid">
  <div class="class row">
    <div class="clsss col-sm-5">
      <div class="class image">
        <img src="../../../assets/svg/list_image.svg" class="img-fluid">
      </div>
    </div>
    <!-- form section -->
    <div class="class col-md-6">
      <div class="class card">
        <h5>Preencha os campos do formulário:</h5>
        <div class="row">
          <form [formGroup]="addItensForm">
            <!--Nome do Item-->
            <div class="form-group mb-4">
              <label for="exampleFormControlInput1">Nome do Item</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nome do Item" formControlName="nameItem">
            </div>

            <!--Unidade de Medida-->
            <div class="form-group mb-4">
              <label for="exampleFormControlSelect1">Unidade de Medida</label>
              <select class="form-control" id="exampleFormControlSelect1" formControlName="measure">
                <option>Litros</option>
                <option>Quilogramas</option>
                <option>Unidade</option>
              </select>
            </div>

            <!--Quantidade-->
            <div class="form-group mb-4">
              <label for="exampleFormControlInput1">Quantidade</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="" formControlName="quantity">
            </div>

            <!--Preço-->
            <div class="form-group mb-4">
              <label for="exampleFormControlInput1">Preço</label>
              <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="R$ 00,00" formControlName="price">
            </div>

            <!--Produto Perecível-->
            <div class="form-group mb-4">
              <label for="exampleFormControlInput1">Produto Perecível</label>
              <div class="form-check">
                <input class=" form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked formControlName="product" value="Sim">
                <label class="form-check-label" for="flexRadioDefault1">
                  Sim
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" formControlName="product" value="Não">
                <label class="form-check-label" for="flexRadioDefault2">
                  Não
                </label>
              </div>
            </div>

            <div class="clss text-center">
              <button type="submit" (click)="submitItems()" [disabled]="this.addItensForm.invalid" class="btn btn-primary mx-3">Salvar</button>
              <button type="submit" class="btn btn-danger" routerLink="/list">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>