<!--login-->
<section class="vh-100">
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-xl-9">
        <div class="card">
          <div class="row g-0">
            <div class="col-md-4 col-lg-6">
              <img src="../../../assets/svg/list_image.svg" class="img-fluid">
            </div>
            <!--form section-->
            <div class="col-md-6 col-lg-6 align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form action="">
                  <div class="d-flex alignh-items-center mb-3 pb-1">
                    <i class=" fas fa-cubes fa-2x" style="color: #EC7001;"></i>
                    <span class="h1 fw-bold mb-0" style="margin-left: 10px;">Login</span>
                  </div>
                  <h5 class="fw-normal mb-3 pb-2" style="letter-spacing: 1px;">Acesse a sua conta</h5>

                  <div class="form-outline mb-2">
                    <label class="form label">E-mail</label>
                    <input type="email" class="form-control form-control-lg">
                  </div>

                  <div class="form-outline mb-2">
                    <label class="form label">Senha</label>
                    <input type="password" class="form-control form-control-lg">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>